    body {
        font-family: sans-serif;
        background-color: lightgrey;
        margin-top: 75px;
    }
    
    .center {
        text-align: center;
    }
    
    .text-big {
        font-size: 300%;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .img-medium {
        height: 200px;
    }

	.container{
		padding-top: 40px;
		width: 600px;
		font-family: sans-serif;
		margin: 0 auto;
		cursor: auto;
		font-size: 17px;
	}
	.heading{
		color :#fff;
		text-decoration: blink;
	    font-size: 30px;
	    background-color: rgb(255,0,0);
	    border-radius:20px;
	    letter-spacing: 1px;
	}
	.date{
		color: #3366ff;
	}
	#hme_btn{
		background-color: #33cc33;
		color: #fff;
		font-size: 20px;
		border-radius: 3px;
		text-decoration: none;
	}